<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jogo da Velha</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="jogodavelha.js"></script>
    <link rel="stylesheet" href="jv.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="jvApp" ng-controller="jvControl">
    <div class="col-xl" ng-repeat="botao in botoes" >
        <button ng-click="clicktest($event)" class="btn btn-primary">{{botao.no}}</button>
    
    </div>
    <p>{{player}}</p>
</body>
</html>