<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jogo da Velha</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="jogodavelha.js"></script>
    <link rel="stylesheet" href="jv.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="images" href="images/">
</head>
<body ng-app="jvApp" ng-controller="jvControl" style="background-color: black ; width: 600px ; height: 600px">
    <div class="primeira">   
            <p>teste de local</p> 
        <div class="col-xl" >
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b1" ng-bind-html="b1b"></button>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b2" ng-bind-html="b2b"></button>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b3" ng-bind-html="b3b"></button><br>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b4" ng-bind-html="b4b"></button>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b5" ng-bind-html="b5b"></button>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b6" ng-bind-html="b6b"></button><br>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b7" ng-bind-html="b7b"></button>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b8" ng-bind-html="b8b"></button>
                    <button ng-click="showID($event)" ng-mouseleave="clicktest($event)" class="btn btn-primary" id="b9" ng-bind-html="b9b"></button>
                    
         </div>

         
    </div>

   
</body>
</html>